.search-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 500ms ease-in-out normal;
    z-index: 1;
}

.search-container__search-bar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;
    transition: all 500ms ease-in-out normal;
    background-color: rgba(20, 20, 20);
    height: 50px;
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    gap: 10px;
    animation: dropdown 2s ease-in-out 0.5s 1 forwards normal;
}

#search-bar{
    padding: 5px;
    width: 70%;
    border-radius: 5px;
    margin: 10px;
    border: none;
    text-align: left;
    background-color: gray;
    color: black;
}

.search-container__search-bar--search-button{
    cursor: pointer;
    margin-left: 10px;
    transition: all 500ms ease-in-out normal;
}

.search-container__search-bar--close-button{
    cursor: pointer;
    background-color: red;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    font-family: 'Inter';
    margin-right: 10px;
    transition: all 500ms ease-in-out normal;
}

.search-container__search-bar--close-button:hover,
.search-container__search-bar--search-button:hover{
    scale: 1.4;
}

.search-container__search-bar--close-button:active{
    background-color: greenyellow;
}