/* GENERAL STYLING */
button{
    border: none;
}

.carousel-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 0 auto;
    flex-direction: column;
}

.carousel-container__button{
    width: 49px;
    height: 10px;
    background-color: transparent;
    color: gray;
    font-size: 50px;
    transition: all 500ms ease-in-out normal;
    margin-top: 20px;
}

.carousel-container__button:hover{
    scale: 1.114;
    background-color: rgb(255, 255, 255, 0.5);
    color: white;
}

/* For screens whose max width is 640px */
    /* SMALL SCREENS */
@media screen and (max-width: 640px) {
    .carousel-container__button-holder{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }

    .medium-screen-container-entry{
        display: none;
    }

    .small-screen-container-entry{
        display: block;
    }
}

/* For screens whose min width is 640px and max width is 1280px */
    /* MEDIUM AND LARGE AND EXTRA LARGE SCREENS */
@media screen and (min-width: 640px) {
    .small-screen-container-entry{
        display: none;
    }

    .medium-screen-container-entry{
        display: block;
    }

    .carousel-container{
        flex-direction: row;
    }

    .carousel-container__button{
        height: 104px;
        margin: 0 20px;
    }
}