/* TableContainer styles */
.TableContainer {
  /* 50% of the viewport height */
  background-color: #141414;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center; /* Center the table horizontally */
  align-items: center; /* Center the table vertically */
  padding: 20px 30px;
  color: #ffffff;
  font-size: 14px;
}

.top-coll-header{
  display: flex;
  flex-flow: row nowrap;
  min-width: 80vw;
  align-items: center;
  margin: 0 10%;
  color: #777777;

}
.total-bar {
  display: flex;
  padding: 0 16px;
  background-color: #1d2022;
  color: #61809b;
  align-items: center;
}
.total-time {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.top-coll-header h3 {
  color: #ffffff;
  font-size: 28px;
}

.time-frames {
   display: flex;
   flex-flow: row nowrap;
   justify-self: flex-end;
}

.time-frames div {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 0 12px;
  border-radius: 10px;
}

.time-frames div:nth-child(2) {
  background-color: #76a9fa;
  color: #141414;
  font-weight: 900;
}

.time-frames div:active {
  background-color: #76a9fa;
  color: #141414;
  font-weight: 900;
}

.table-section{
  display: flex;
  flex-flow: column nowrap;
  padding: 4px;
}


.bt {
  display: flex;
  width: 100px;
  height: 54px;
  background-color: #1d2022;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 10px;
}
/* Table styles */

.table1 {
  display: flex;
  flex-flow: column nowrap;
}
.top-table {
  color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #1d2022;
}
.top-table.cont {
  color: #777777;
  font-weight: 900;
}
.top-table.div:hover {
  background-color: #18191b;
}
.table-cell {
  display: inline-flex;
  flex-flow: column nowrap;
  width: 90px;
  height: 54px;
}
.table-cell .loss {
  color: #f05252;
}
.table-cell .gain{
  color: #1ECD4F;
}

.collection-name {
  height: 54px;
  width: 215px;
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  padding: 8px 16px;
}
.coll-floor {
  width: 90px;
  height: 54px;
  padding: 8px 16px;
}
.coll-volume {
  width: 90px;
  height: 54px;
  padding: 8px 16px;
}
.coll-owners {
  width: 90px;
  height: 54px;
  padding: 8px 16px;
}

.coll-no {
  height: 100%;
  text-align: center;
}
