/* TableContainer styles */
.TableContainer {
  height: 50vh; /* 50% of the viewport height */
  background-color: #141414;
  display: flex;
  justify-content: center; /* Center the table horizontally */
  align-items: center; /* Center the table vertically */
  
}

h4{
  color: #FFFFFF;
  margin-left: 150px;
  margin-top: 70px;
}
.bt{
  margin-left: 90%;
  background-color: #18191B;
  padding: 15px;
  
}
/* Table styles */
table {
  border-collapse: collapse;
  width: 80%; /* Adjust the table width as needed */
  max-width: 600px; /* Limit the maximum width of the table */
  margin: 0 auto; /* Center the table within its container */
  background-color: #141414; /* Background color for the table */
  border-radius: 5px; /* Rounded corners for the table */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the table */
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #1D2022; /* Border between rows */
}
tr{
  color: #F0FFFF;
}

th {
  font-weight: bold;
  color:#9CA3AF;
}

/* Button styles */
button {
  margin: 8px;
  padding: 8px 16px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Add more CSS rules as needed */
