
.modal-contentt {
    position: fixed;
    top: 0;
   
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent background */
    
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
    animation: animateModal;
    animation-duration: 0.1s;
  }
  @keyframes animateModal{
    from{
      right: -300px;
      
    }
    to{
      right: 0;
    }
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #888;

  }
  
  close-button:hover {
    color: #ccc;
  }
  
   .header{
    margin-bottom: 17%;
   }
   .reset{
    position: relative;
    left: 66%;
    color: #76a9fa;
    font-size: 14px;
   }
 
  .filter{
    font-size: 18px;
    position: relative;
    left: 39%;
    font-weight: bold;
    
  }
  .header span{
    position: relative;
    top: 20px;
    
  }
  .content{
    margin: 5% ;
    display: flex;
    padding-bottom: 20px;
    
    border-bottom:  1px solid #8B919B ;
    
  }
 .collect{
    font-size: 16px !important;
    margin-right: 50%;
    font-weight: bold;
 }
 .collects{
    margin-right: 67%;
 }
 .collecti{
    margin-right: 60%;
 }
 
 .selected{
    font-size: 14px;
 }
  .next-icon{
    font-size: 20px !important;
    color: #888;

  }
 
.linee{
    width: 90%;
  margin: 0 auto;
  height: 0.5px;
  color:  #8B919B ;
  margin-top: 15px;
}
.selectedd{
    background-color: #76a9fa;
    color: #fff;
   
}
@media screen and (max-width: 300px){
    
    .collect{
        margin-right: 23%;
        
     }
     .collects{
        margin-right: 53%;
     }
     .collecti{
        margin-right:38% ;
     }
     
}
@media screen and (max-width: 405px) and (min-width: 303px){
  .collect{
    margin-right: 38%;
    
 }
 .collects{
    margin-right: 60%;
 }
 .collecti{
    margin-right:49% ;
 }
}

@media screen and (max-width: 450px) and (min-width:410px){
    .collect{
        margin-right: 47%;
        
     }
     .collects{
        margin-right: 68%;
     }
     .collecti{
        margin-right: 57%;
    
     }
    
}