
.modal-contentt {
    position: fixed;
    top: 0;
   
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Semi-transparent background */
    
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
    animation: animateModal;
    animation-duration: 0.1s;
  }
  @keyframes animateModal{
    from{
      right: -300px;
      
    }
    to{
      right: 0;
    }
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #888;

  }
  
  close-button:hover {
    color: #ccc;
  }
  
   .header{
    margin-bottom: 17%;
   }
   .reset{
    position: relative;
    left: 66%;
    color: #76a9fa;
    font-size: 14px;
   }
 
  .filter{
    font-size: 18px;
    position: relative;
    left: 39%;
    font-weight: bold;
    
  }
  .header span{
    position: relative;
    top: 20px;
    
  }
  .content{
    margin: 5% ;
    display: flex;
    padding-bottom: 20px;
    
    border-bottom:  1px solid #8B919B ;
    
  }
 .collections{
    font-size: 16px !important;
    margin-right: 55%;
    font-weight: bold;
 }
 .collectionss{
    margin-right: 42%;
 }
 .collectionis{
    margin-right: 63%;
 }
 .selected{
    font-size: 14px;
 }
  .next-icon{
    font-size: 20px !important;
    color: #888;

  }
  .bannerr{
    color: #fff;
    background-color: #2c2c2c;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5% !important;
    
  
}
.bannerr span{
    font-size: 16px !important;
}

.sale-type{
    margin: 40px;
    font-size: 16px !important;
}
.btns{
    margin-top: 15px;
}
.linee{
    width: 90%;
  margin: 0 auto;
  height: 0.5px;
  color:  #8B919B ;
  margin-top: 15px;
}
.selectedd{
    background-color: #76a9fa;
    color: #fff;
   
}
@media screen and (max-width: 300px){
    .bannerr{
        color: #fff;
        background-color: #2c2c2c;
        padding: 4px 10px;
        border-radius: 5px;
        font-weight: bold;
        margin-left: 5% !important;
        
      
    }
    
    .bannerr span{
        font-size: 12px !important;
    }
    .collections{
        margin-right: 37%;
        
     }
     .collectionss{
        margin-right: 20%;
     }
     .collectionis{
        margin-right: 50%;
     }
}
@media screen and (max-width: 370px) and (min-width:303px){
    .collections{
        margin-right: 52%;
        
     }
     .collectionss{
        margin-right: 40%;
     }
     .collectionis{
        margin-right: 63%;
     }
}