.whale-carousel-container {
  margin: 0 auto;
  position: relative;
  margin: 0 60px;
}
  
.whale-carousel-slideshow {
  display: flex;
  overflow-x: hidden;
  margin-bottom: 100px;
  transition: 0.5s ease normal;
}

.whale-carousel-card-container:hover {
  background-color: #18191B;
}
  
.whale-carousel-card-container {
  display: flex;
  align-items: center;
  min-width: fit-content;
  transition: transform 0.3s ease;
  margin: 0px 30px;
  color: #8b919b;
}
  
.whale-carousel-card-container.active {
  transform: translateX(0);
}

.whale-details-container {
  flex: 1;
  padding: 20px;
  min-width: fit-content;
}

.whale-image-container {
  flex: 1;
}

.whale-image-container img {
  width: 100px;
  height: auto;
  border-radius: 10px;
}

.whale-carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.whale-carousel-control {
  font-size: 24px;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.title-sm {
  color: #fff;
  font-size: 28px;
  margin: 1rem;
  text-align: left;
  padding-left: 60px;
}

.whale-price {
  font-size: 16px;
  color: #fff;
}

.purchase {
  display: flex;
  flex-flow: row nowrap;
  row-gap: 5px;
  padding: 0.23rem;
  background-color: #093030;
  min-width: fit-content;
  border-radius: 5px;
}
.purchase img  {margin-right: 10px;
}
.whale-purchase {
  font-size: 14px;
  color: #2CB382;
}