/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

/* IMPORTING TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* IMPORTANT STYLES THAT CANT BE USED IN TAILWIND OR CONFIGURED */

.navbar p,
.navbar a,
.nav-links,
.nav-links span a,
.rewards,
.dropdown-content a,
.link-side-panel-container__side-panel--rewards-button,
.link-side-panel-container__side-panel--link-section figure a,
.link-side-panel-container__side-panel--launchpad-section div a{
    text-decoration: none
}

        /* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Modal animation by mkrs */
.animate-modal {
    animation-name: animateModal;
    animation-duration: 0.1s;
   
  }
@keyframes animateModal {
    from {
      right: -300px;
    }
    to {
      right: 0;
    }
  }
  .banner{
    background-color: #382e00;
  }
 
  @media screen and (max-width: 640px){
    .cards{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    
  }

  @media screen and (max-width: 370px){
    .banner span{
      font-size: 14px ;

  }
  .banner{
    padding: 2px 3px ;
    margin: 0;
    margin-right: 3%;
}
  .price{
    font-size: 18px;
    margin-left: 1%;
  }
  .name{
    font-size: 14px;
  }
  .custom-placeholder::placeholder {
    font-size: 12px;
    
  }
  .ml-48{
    margin-left: 150px;
  }
  .px-4{
    padding: 0;
    
  }
  .ml-8{
    margin-left: 3px;

  }
  .vertical-line{
    height: 2.5rem;
  }
  
  }
  