
.cards{
    display: grid; /* This creates a grid container */
    grid-template-columns: repeat(5, 1fr); /* 3 columns with equal width */
    gap: 20px;
    padding-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    
    
  }
  

.card{
    border-radius: 10px;
    
    
    width: fit-content;
    background-color: #18191b;
   
   
    border:  solid 1px #555c69 ;
}

.card img{
    height: 220px;
    border-radius: 5px;
}

.card p{
    color: #3189F0;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    justify-self: center;
    margin-top: 15px;
}

.verified-icon{
    color: #3189F0;
    font-size: 14px !important;
    margin: 5px; 
    margin-top: 20px !important;
}

.texts{
    display: flex;
    align-items: center;
    padding: 10px;   
    margin-top: -20px;
}
.name{
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
   
    
}
.details{
    margin-top: 20px ;
    justify-content: space-between;
    margin-bottom: 20px ;
    
}
.price{
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    margin-right: 35px;
   
}
.banner{
    color: #E5BC27;
    background-color: #382e00;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    
}
.line{
    color: #555c69 ;
   border: solid 0.5px;
   margin-bottom: 1px

}
.action{
    color: #ffffff;
  display: flex;
  margin-top: 0;
  margin-left: 135px;
}
.action span{
  padding: 3px;
  
}

.collection{
    margin-top: -60px;
    margin-left: 100px;
}

.filter-bar{
    height: 70px;
    width: 95%;
    margin: auto;
    background-color: #18191b;
    border:  solid 1px #555c69 ;
    color: #ffffff;
    margin-bottom: 30px;
   justify-content: space-between;
   border-radius: 10px;
   display: flex ;
   align-items: center;
   
}
.flex{
    display: flex;
    align-items: center;
}
.items{
    display: flex;
    padding-top: 0px;
    margin-right: 15px;
}

.filter-icon{
    padding-left: 20px ;
    margin-right: 2px;
    font-weight: bold;
}
.filter-text{
    font-weight: bold;
}
.verified {
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}
.search-area .search-area-bar {
    display: flex;
    border-bottom:  1px solid #8B919B ;
    align-items: center;
    max-width: fit-content;
    padding: 0 10px 0 0 ;
}

.coll-search-bar{
    padding: 12px 0px 12px 20px;
    width: 200px;
    height: 43px;
    flex-shrink: 0;
    border: none;
    
    background-color: rgba(255, 255, 255, 0.00);
  
  }
  .search-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}
.vertical-line {
    width: 1px; 
    height: 70px; 
    background-color: #8B919B; 
   position: absolute;
   right: 160px;
  }
  