
.cards{
    display: grid; /* This creates a grid container */
    grid-template-columns: repeat(5, 1fr); /* 3 columns with equal width */
    gap: 20px;
   
    
  }
  .render-cards{
    margin: 3%;
  }
 
.card{
    border-radius: 10px;
    
    background-color: #18191b;
   
   width: 100%;
    border:  solid 1px #555c69 ;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.card p{
    color: #3189F0;
    font-family: Inter;
    font-size: 14px;
   
    margin-top: 15px;
}
.title{
    margin-left: 10% !important;
    font-size: 30px !important;
}
.title span{
    color: #3189F0;
    font-size: 25px !important;
  
}
.verified-icon{
    color: #3189F0;
    font-size: 14px !important;
    margin: 5px; 
    margin-top: 20px !important;
}

.texts{
    display: flex;
    align-items: center;
    padding: 10px;   
    margin-top: -20px;
}
.name{
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
   
    
}
.details{
    margin-top: 20px ;
    justify-content: space-between;
    margin-bottom: 20px ;
   
}
.price{
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    margin-right: 15%;
    
   
}
.banner{
    color: #E5BC27;
    background-color: #382e00;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
  
    
   
}
.line{
    color: #555c69 ;
   border: solid 0.5px;
   margin-bottom: 1px

}
.action{
    color: #ffffff;
  display: flex;
  margin-top: 0;
  margin-left: 70%;
}
.action span{
  padding: 3px;
  
}


.filter-bar-container{
    flex-direction: row !important;
    position: sticky !important;
    top: 20px !important;
    /* z-index: 1; */
}
.filter-bar{
    height: 70px;
    width: 95%;
    margin: auto;
    background-color: #18191b;
    border:  solid 1px #555c69 ;
    color: #ffffff;
    margin-bottom: 30px;
   justify-content: space-between;
   border-radius: 10px;
   display: flex ;
   align-items: center;
   
   
}
.flex{
    display: flex;
    align-items: center;
}
.items{
    display: flex;
    padding-top: 0px;
    margin-right: 15px;
}

.filter-icon{
    padding-left: 20px ;
    margin-right: 2px;
    font-weight: bold;
}
.filter-text{
    font-weight: bold;
}
.verified {
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
}
.search-area .search-area-bar {
    display: flex;
    border-bottom:  1px solid #8B919B ;
    align-items: center;
    max-width: fit-content;
    padding: 0 0px 0 0 ;
   
}

.coll-search-bar{
    padding: 12px 0px 12px 20px;
    width: 80%;
    height: 30px;
    flex-shrink: 0;
    border: none;
    
    background-color: rgba(255, 255, 255, 0.00);
  
  }
  .search-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}
.vertical-line {
    width: 1px; 
    height: 70px; 
    background-color: #8B919B; 
   position: absolute;
   right: 13%;
  }
  .tune-icon{
    display: flex;
    position: relative;
    right: 4%;
    align-items: center;
    color: #7293e0;
  }
  .tune-icon span{
    padding: 5%;
  }
  .collection{
    margin-top: -6%;
    display: flex;
  }
  .collection .arrow-down{
    margin-top: 3% !important;
    color: #3189F0;
    position: absolute;
    left: 25%;
   
   }
   
  @media screen and (max-width: 768px) {
    .cards{
        display: grid; /* This creates a grid container */
        grid-template-columns: repeat(2, 1fr); /* 3 columns with equal width */
        gap: 0.5%;
       margin: 0.5%; 
       margin-bottom: 50%;
      }
      .card{
        border-radius: 10px;
        
        background-color: #18191b;
       
       width: 100% !important;
        border:  solid 1px #555c69 ;
    }
    .card img{
        width: 100% !important;
        height: auto !important;
    }
    .vertical-line{
        right: 32%;
        height: 50px;
    }
    .search-area .search-area-bar{
        border-bottom: none;
    }
    .filter-bar{
        height: 50px;
    }
   
   .collection .arrow-down{
    color: #3189F0;
    margin-top: -9% !important;
    position: absolute;
    left: 62%;
   }
   .collection .arrow-downn{
    color: #3189F0;
    margin-top: -9% !important;
    position: absolute;
    left: 82%;
   }
    .title{
         margin-top: -8% !important;
        margin-left: 20% !important;
        font-size: 25px !important;
    }
    .title span{
        font-size: 23px !important;
    }
   
  }
 
  @media screen and (max-width: 300px){
    .price{
        margin-right: 0;
        font-size: 16px !important;
    }
    .banner{
        padding: 3px 6px !important;
    }
    .banner span{
        font-size: 14px !important;
    }
    .name{
        font-size: 12px !important;
    }
    .card p{
        font-size: 10px !important;
    }
    .action{
        margin-left: 60%;
    }
    .coll-search-bar{
        padding: 12px 0px 12px 5px;
        width: 75%;
    }
    .collection .arrow-down{
        margin-top: -9% !important;
        position: absolute;
        left: 75%;
       }
       .collection{
        margin-top: -10% !important;
        margin-left: 5% !important;
        
    }
    .collection .title{
        font-size: 18px !important;
    }
    .title span{
        font-size: 16px !important;
    }
   
  }
  @media screen and (max-width: 400px){
    .card{
        border-radius: 10px;
        
        background-color: #18191b;
       
       width: 100% !important;
        border:  solid 1px #555c69 ;
    }
    .card img{
        width: 100% !important;
        height: auto !important;
    }
    .card p{
        color: #3189F0;
        font-family: Inter;
        font-size: 14px !important;
        margin-top: 15px;
    }
    
    .verified-icon{
        color: #3189F0;
        font-size: 20px !important;
        margin: 5px; 
        margin-top: 20px !important;
    }
    
    .texts{
        display: flex;
        align-items: center;
        padding: 10px;   
        margin-top: -20px;
    }
    .name{
        font-size: 16px;
        color: #ffffff;
        padding: 10px;
       
        
    }
    .details{
        margin-top: 20px ;
        justify-content: space-between;
        margin-bottom: 20px ;
        
    }
    .price{
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
       margin-right: 3%;
        font-size: 18px;
    }
    .banner{
        color: #E5BC27;
        background-color: #382e00;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
        margin-right: 1%;
     
    }
    .banner span{
        font-size: 16px;
    }
    
    .render-cards{
      margin: 1% !important;
    }
    .title span{
        font-size: 18px !important;
    }
  }
  @media screen and (max-width: 560px) and (min-width: 451px){
    .price{
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-right: 20% ;
        font-size: 25px;
    }
    .banner{
        color: #E5BC27;
        background-color: #382e00;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    .tune-icon{
        display: flex;
        position: relative;
        right: 10%;
        align-items: center;
        
      }
      .collection .arrow-downn{
        margin-top: -8.5% !important;
        position: absolute;
        left: 70%;
       }
       .collection{
        margin-top: 0%;
       }
       .collection .arrow-down{
        margin-top: -8.5% !important;
        position: absolute;
        left: 54%;
       }
  }
  @media screen and (max-width: 640px) and (min-width: 561px){
    .price{
        color: #ffffff;
        padding: 10px;
        font-weight: bold;
        margin-right: 30% ;
        font-size: 25px;
    }
    .tune-icon{
        display: flex;
        position: relative;
        right: 10%;
        align-items: center;
        
      }
      .collection .arrow-downn{
        margin-top: -8.5% !important;
        position: absolute;
        left: 59%;
       }
      
       .collection{
        margin-top: 0%;
       }
       .collection .arrow-down{
        /* margin-top: 5% !important; */
        position: absolute;
        left: 45%;
       }
  }
  @media screen and (max-width: 768px) and (min-width: 643px){
    .cards{
        display: grid; /* This creates a grid container */
        grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
        gap: 0.5%;
       margin: 0.5%; 
       margin-bottom: 50%;
      }
      .card{
        border-radius: 10px;
        
        background-color: #18191b;
       
       width: 100% !important;
        border:  solid 1px #555c69 ;
    }
    .card img{
        width: 100% !important;
        height: auto !important;
    }
    .price{
        margin-right: 10% !important;
        font-size: 25px;
    }
    .banner{
        padding: 5px 10px;
    }
    .banner span{
        font-size: 16px;
    }
    .name{
        font-size: 20px;
    }
    .verified-icon{
        font-size: 18px !important;
    }
    .card p{
        font-size: 18px !important;
    }
    .tune-icon{
        display: flex;
        position: relative;
        right: 10%;
        align-items: center;
        
      }
      .collection .arrow-downn{
        margin-top: -8.5% !important;
        position: absolute;
        left: 54%;
       }
       .collection .arrow-down{
        margin-top: -8.5% !important;
        position: absolute;
        left: 44%;
       }
       .collection{
        margin-top: 0%;
       }
  }

  @media screen and (max-width: 1115px) and (min-width: 780px){
    .cards{
        display: grid; /* This creates a grid container */
        grid-template-columns: repeat(4, 1fr); /* 3 columns with equal width */
        gap: 0.5%;
       margin: 0.5%; 
       margin-bottom: 50%;
      }
      .card{
        border-radius: 10px;
        
        background-color: #18191b;
       
       width: 100% !important;
        border:  solid 1px #555c69 ;
    }
    .card img{
        width: 100% !important;
        height: auto !important;
    }
    .price{
        margin-right: 5% !important;
        font-size: 18px;
    }
    .vertical-line {
       
       position: absolute;
       right: 15%;
      }
      .collection .arrow-down{
        margin-top: 5% !important;
        position: absolute;
        left: 33%;
       }
       .collection{
        margin-top: -10%;
       }
  }
  @media screen and (max-width: 643px) and (min-width: 550px){
    .cards{
        display: grid; /* This creates a grid container */
        grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
        gap: 0.5%;
       margin: 0.5%; 
       margin-bottom: 50%;
      }
      .card{
        border-radius: 10px;
        
        background-color: #18191b;
       
       width: 100% !important;
        border:  solid 1px #555c69 ;
    }
    .card img{
        width: 100% !important;
        height: auto !important;
    }
    .price{
        margin-right: 9% !important;
        font-size: 20px;
    }
    .banner{
        padding: 5px 10px;
    }
    .banner span{
        font-size: 16px;
    }
    
  }