* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend", sans-serif;
  background-color: #141414;
}

.carousel-container-outer {
  display: flex;
  justify-content: center;
}

.hidden.carousel {
  display: none;
}

.active.carousel {
  display: block;
}

.active.carousel {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
  padding: 1rem;
}

.image-container img {
  width: 80%;
  height: auto;
  border-radius: 30px;
  margin: 20px;
}

.carousel-container {
  position: relative;
  width: 90vw;
  height: max-content;
  margin: 0 5%;
}

.carousel-slideshow {
  position: relative;
  display: flex;
  overflow: hidden;
  text-align: left;
  transition: 0.5s ease;
}

.carousel-card-container.active {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  transition: 0.8s ease;
}

.carousel-card-container.active {
  transform: translateX(0);
  transition-delay: 500ms;
}

.title {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: left;
  color: #FFF;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 25% */
  letter-spacing: 1.92px;
  margin-left: 0;
  width: auto;
  position: relative;
  left: -50px;
}

.trending {
  margin-bottom: 20px;
  color: #FFDB24;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
  text-decoration-line: underline;
}

.details-container {
  position: relative;
  flex: 1;
  padding: 20px;
  width: 60%;
  height: 100%;
}

.nft-details {
  max-width: 100%;
  color: #8b919b;
  margin-bottom: 50px;
}

.image-container {
  flex: 1;
  padding: 10px;
  position: relative;
}

.image-container img {
  max-width: 350px;
  height: auto;
  margin-left: 130px;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.carousel-control {
  position: relative;
  padding: 10px;
  background: #141414;
  border: none;
}

.carousel-control span:hover {
  background-color: #141414;
  transform: scale(1.05);
  transition: 0.3s ease-in ;
}

.carousel-control-prev {
  position: absolute;
  left: -10px;
  color: #8b919b;
  font-size: 36px;
  cursor: pointer;
}

.carousel-control-next {
  position: absolute;
  color: #8b919b;
  font-size: 36px;
  right: -10px;
  cursor: pointer;
}

.major-button {
  background-color: #ffdb24;
  padding: 1em 2em;
  margin: 0;
  position: absolute;
  bottom: 10;
  height: 51px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.learn-more-button{
  background-color: #FFDB24;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
  width: 166px;
  height: 56px;
  flex-shrink: 0;
  border: none;
  border-radius: 20px;
  position: absolute;
  bottom: 10;
}