
.arrow-down {
  color: #76a9fa;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
}






.h3 {
  color: #76a9fa;
  cursor: pointer;
}
.generative-btn {
  background-color: #141414;
  color: #fff;
  border: 1px solid #2f3641;
  white-space: nowrap;
  border-radius: 8px;

}


/* @media screen and (min-width: 768px) {
  .top-coll-header {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    column-gap: 1.125rem;
    width: 100%;
    justify-content: flex-start;
    justify-self: flex-start;
    margin-left: auto;
  }
  .top-coll-header h3 {
    margin: 1em 0;
  }
  .total-time {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

} */

@media (max-width: 1280px) and (min-width: 640px) {
  .TableContainer {
    /* 50% of the viewport height */
    display: flex;
    flex-flow: column nowrap;
  }
  .top-table.cont.none {
    display: none;
  }
  .table-section.second {
    margin-top: -10px;
  }
  .top-table.div {
    width: 90vw;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  .top-table.cont {
    width: 90vw;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-weight: 900;
  }
  .top-coll-header {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
  }
  .total-time {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .total-bar {
    display: flex;
    flex-flow: row nowrap;
  }
}

@media screen and (max-width: 768px) {
  .top-coll-header {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    column-gap: 1.125rem;
    width: 100%;
    justify-self: flex-start;
    margin-left: auto;
  }
  .total-time {
    display: flex;
    flex-flow: column-reverse nowrap;
    width: 100%;
  }

  .total-bar {
    min-width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .total-bar .tot-24-vol {
    align-self: flex-start;
    margin-right: auto;
  }
  .time-frames {
    width: 100%;
    gap: 0.5rem;
    padding: 8px;
    justify-content: space-around;
    margin-bottom: 1rem;
    border: 1px solid #2c2929;
    border-radius: 4px;
  }
  .time-frames div {
    padding: 4px 8px;
  }
}


  

@media screen and (max-width: 640px) {
  * {
    box-sizing: border-box;
  }
  .TableContainer {
    display: flex;
    flex-flow: column nowrap;
    font-size: 12px;
  }


  .lg-hidden {
    display: block;
  }
  .top-div {
    margin-top: 100px;
    width: 80vw;
  }
  .top-div .collection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  .top-div .collection .title {
    font-size: 28px;
    white-space: none;
  }
  .drop-down {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #76a9fa;
    font-size: 28px;
  }
  
  .top-coll-header {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    column-gap: 1.125rem;
    width: 100%;
    justify-self: flex-start;
    margin-left: auto;
  }
  .total-time {
    display: flex;
    flex-flow: column-reverse nowrap;
    width: 100%;
  }
  .btn {
    width: 100%;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-weight: 400;
    border-radius: 0.5rem;
    border: 1px solid #2f3641;
  }
  .total-bar {
    min-width: 100%;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .total-bar .tot-24-vol {
    align-self: flex-start;
    margin-right: auto;
  }
  .total-bar .bold {
    font-weight: bolder;
    color: #fff;
  }
  .total-bar .loss {
    color: #f05252;
  }
  .time-frames {
    width: 100%;
    gap: 0.5rem;
    padding: 8px;
    justify-content: space-around;
    margin-bottom: 1rem;
    border: 1px solid #2c2929;
    border-radius: 4px;
  }
  .time-frames div {
    padding: 4px 8px;
  }
  .top-table.div {
    height: fit-content;
  }

  
  
  .top-coll-header h3 {
    font-size: 22px;
    align-self: flex-start;
    margin-bottom: 1rem;
    letter-spacing: 0.1em;
  }
  .none {
    display: none;
  }
}