/* Basic styling */
.navbar {
  display: flex;
  align-items: center;
  background-color: #111111;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 95px;
  padding: 10px;
  margin-bottom: 100px;
}

.navbar img{
width: 60px;
margin: 10px;
}

.navbar p{
margin-left: -10px;
margin-right: 30px;
text-decoration: none;
text-align: center;
color: #FFF;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.nav-title{
display:flex ;
justify-content: center;
align-items: center;
}

.navbar a{
text-decoration: none;
}

.search-bar{
padding: 12px 0px 12px 44px;
margin-left: -35px;
width: 240px;
height: 43px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #8B919B;
background-color: rgba(255, 255, 255, 0.00);

}

.search-icon{
color: #706f6f;
cursor: pointer;
}

input{
color: #8B919B;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nav-links{
text-decoration: none;
align-items: center;
display: flex;
margin: 0px 20px 0px 30.104px;
padding: 0px 0px 0px 20px;
justify-content: space-evenly;
}

.nav-links span{
margin: 0px 32px 0px 0px;
color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.nav-links span a{ 
color: white;
text-decoration: none;
}

.rewards{
text-decoration: none;
margin: 0px 32px 0px 0px;
color: #FFDB24;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.light-mode-icon{
color: #FFDB24;
cursor: pointer;
}

.notification-icon{
color: #9CA3AF;
cursor: pointer;
}

.en{
color: #9CA3AF;
font-size: 16px;
}

.wallet{
color: #000000;
font-size: 14px;
background: #FFDB24;
padding: 12px 8px;
border: none;
border-radius: 10px;
margin: 10px;
margin-left: 25px;
transition: all 500ms ease-in-out normal;
cursor: pointer;  
}

.wallet:active{
scale: 0.8;
opacity: 0.7;
}


/* Initially hide the dropdown content */
.dropdown .dropdown-content {
display: none;
position: absolute;
color: #555c69;
background-color: #18191b;
border:  solid 1px #555c69 ;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 5px;

margin-left: -10px;

}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
display: block;

}

/* Style the dropdown links */
.dropdown-content a {
padding: 12px 16px;
text-decoration: none;
display: block;
color: #555c69;
}

/* Add styles for dropdown links on hover or focus */
.dropdown-content a:hover {
background-color: #2a2929;
}