.link-side-panel-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 500ms ease-in-out normal;
}

.link-side-panel-container__side-panel{
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
    background-color: rgb(24, 25, 27);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: all 500ms ease-in-out normal;
    box-shadow: 0px 10px 20px black;
    padding: 10px;
}

.link-side-panel-container__side-panel--navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(156, 163, 175, 0.5);
    padding-bottom: 20px;
    border-radius: 2px;
}

.side-panel--navbar--side-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.side-panel--navbar--side-buttons p{
    color: rgb(156, 163, 175);
    font-size: 16px;
    font-weight: bold;
    transition: all 500ms ease-in-out normal;
}

.side-panel--navbar--side-buttons div{
    color: rgb(156, 163, 175);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
}

.side-panel--navbar--side-buttons img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 500ms ease-in-out normal;
}

.link-side-panel-container__side-panel--rewards-button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 20px;
    margin: 0 auto;
    background-color: rgb(20, 20, 20);
    color: rgb(231, 215, 150);
    border: 2px solid rgb(231, 215, 150);
    border-radius: 10px;
    padding: 20px 0;
    transition: all 500ms ease-in-out normal;
}

.link-side-panel-container__side-panel--rewards-button:active{
    background-color: rgb(231, 215, 150);
    border: none;
    color: rgb(20, 20, 20);
}

.link-side-panel-container__side-panel--link-section{
    margin-top: 15px;
    border-top: 2px solid rgb(156, 163, 175, 0.5);
    padding-top: 20px;
    border-radius: 2px;
}

.link-side-panel-container__side-panel--link-section h4{
    color: rgb(156, 163, 175);
    font-weight:  bold;
    font-size: 14px;
}

.link-side-panel-container__side-panel--link-section figure{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.link-side-panel-container__side-panel--link-section figure a{
    cursor: pointer;
    transition: all 500ms ease-in-out normal;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(156, 163, 175);
}

.link-side-panel-container__side-panel--link-section figure a:active{
    scale: 0.95;
}

.link-side-panel-container__side-panel--launchpad-section{
    margin-top: 15px;
    border-top: 2px solid rgb(156, 163, 175, 0.5);
    padding-top: 20px;
    border-radius: 2px;
}

.link-side-panel-container__side-panel--launchpad-section h4{
    color: rgb(156, 163, 175);
    font-weight:  bold;
    font-size: 14px;
}

.link-side-panel-container__side-panel--launchpad-section div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.link-side-panel-container__side-panel--launchpad-section div a{
    cursor: pointer;
    transition: all 500ms ease-in-out normal;
    text-decoration: none;
    font-weight: bold;
    color: rgb(231, 215, 150);
    letter-spacing: 0.3px;
}