.title{
  margin-left: 50px;
  color: #FFF;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 36.4px */
  letter-spacing: 1.12px;
}

.title span{
  align-items: center;
  color: #76A9FA;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 36.4px */
  letter-spacing: 1.68px;
}

.arrow-down{
  color: #76a9fa;
  width: 38px;
  height: 6.174px;
  margin: 0;
  padding: 0;
  margin-left: -45px;
}

.collection{
  display: flex;
  align-items: center;
  
}

.top{
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}

.top button{
  border: none;
  width: 116px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #2C2929;
  justify-self: center;
  align-self: center;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}