/* TwoColumnLayout.css */

.two-column {
    display: flex;
    justify-content: space-between; /* Arrange columns with space in between */
  }
  
  .column {
    flex: 1; /* Each column takes up equal width */
    padding: 10px; /* Add padding for spacing */
  }
  .column-container{
    background-color: red;
  }