.card{
    border-radius: 5px;
    background: #141414;
    margin: auto;
    width: fit-content;
    border-color: white;
    
}
.card img{
    height: 230px;
}
.card p{
    color: #76A9FA;
    font-size: 14px;
}
.verified-icon{
    color: #76A9FA;
    font-size: 14px !important;
    margin: 5px;
   
}
.texts{
    display: flex;
    align-items: center;
    padding: 10px;   
    margin-top: -20px;
}