* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend", sans-serif;
  background-color: #141414;
}

.carousel-container-outer {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}

.hidden.carousel {
  display: none;
}

.active.carousel {
  display: block;
}

.active.carousel {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
  padding: 1rem;
}

.image-container img {
  width: 80%;
  height: auto;
  border-radius: 30px;
  margin: 20px;
}

.carousel-container {
  margin: 0 5%;
}

.carousel-card-container.active {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  transition: 0.8s ease;
}

.carousel-card-container.active {
  transform: translateX(0);
  transition-delay: 500ms;
}

.title {
  text-align: left;
  color: #fff;
  font-family: Inter; /* 25% */
}

.trending {
  color: #ffdb24;
  font-family: Inter;
}

.nft-details {
  color: #8b919b;
}

.image-container img {
  max-width: 350px;
  height: auto;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.carousel-control {
  position: relative;
  padding: 10px;
  background: #141414;
  border: none;
}

.carousel-control span:hover {
  background-color: #141414;
  transform: scale(1.05);
  transition: 0.3s ease-in;
}

.carousel-control-prev {
  left: -10px;
  color: #8b919b;
}

.carousel-control-next {
  color: #8b919b;
  right: -10px;
}

.major-button {
  background-color: #ffdb24;
  padding: 1em 2em;
  margin: 0;
  position: absolute;
  bottom: 10;
  height: 51px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.learn-more-button {
  background-color: #ffdb24;
  color: #000;
  font-family: Inter;
  width: 166px;
  height: 56px;
  flex-shrink: 0;
  border: none;
}
@media screen and (max-width: 800px) {
  .carousel-container-outer {
    width: 100vw;

    font-size: 12px;
    margin: 0;
  }
  .carousel-card-container.active {
    display: flex;
    flex-flow: column-reverse nowrap;
    height: fit-content;

    padding: 10px;
  }
  .image-container {
    display: flex;
    width: 80%;
    justify-content: center;
  }
  .image-container img {
    width: 100%;
    height: auto;
    justify-self: center;
  }

  .details-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    line-height: 1.4;
    position: relative;
  }
  .title {
    font-size: 16px;
    margin: 8px 0;
  }
  .trending {
    display: block;
    margin-bottom: 1em;
    align-self: flex-start;
    position: absolute;
    top: 0;
  }
  .learn-more-button {
    margin-top: 1em;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .nft-details {
    margin-top: 5em;
  }
}
