.launches_page_container{
    min-height: 100vh;
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: all 500ms ease-in-out normal;
}

.launches_page_container__viewPastCollectionsToggle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin-left: 100px;
    margin-top: 100px;
}

.launches_page_container__viewPastCollectionsToggle p{
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: all 500ms ease-in-out normal;
}

.launches_page_container__collectionsHolder{
    display: grid;
    grid-auto-flow: column; 
    grid-template-rows: repeat(4, 1fr);
    margin: 80px 0;
    padding: 40px;
    gap: 40px;
}