.launchpad-container{
  min-height: 100vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all 500ms ease-in-out normal;
}
.launchpad-page-container-viewOverviewToggle{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 13px;
  margin-top: 100px;
  border-bottom: #FFFF solid;
  
}
.launchpad-page-container-viewOverviewToggle p{
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: all 500ms ease-in-out normal;
  
}
.launchpad-page-container-Holder{
  display: grid;
  grid-auto-flow:column; 
  grid-template-rows: repeat(1, 1fr);
  margin: 80px 0;
  padding: 40px;
  gap: 40px;
}
.container {
  display: flex;
  padding: 2px;
  margin-top: -130px;
  margin-right: 30px;
  transition: all 500ms ease-in-out normal;
}

.image-container {
  flex: 1.6;
  padding: 30px;
  margin-left: -70px;
  margin-right: 30px;
  margin-top: 45px;
}
.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}
.live{
  background-color:#2B2037;
  padding: 1px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 2px;
  display: flex;
  color: green;
  justify-content: center;align-items: center;
}

.calender{
  justify-content: space-between;
  display: flex;

}
.button-icon{
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #2B2037;
}
.container2 {
  flex: 1.9;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px; /* Add space between paragraphs */
  margin-right: 30px;
  margin-top: 50px;
}

.h1{
  margin-left: 7px;
  font-size: 14px;
}
.division1{
  padding: 55px;
  border-radius: 10px; /* Add rounded corners */
  color: white; /* Text color for paragraphs */
}
.division2{
  padding: 56px;
  border-radius: 10px; /* Add rounded corners */
  color: white; /* Text color for paragraphs */
}
.connection{
  background-color:#18191B;
  padding: 56px;
  margin-top: 8px;
  border-radius: 10px;
  align-items: center;
}
.divisionh2{
  color: #FFFF;
  font-size: 5px;
  margin-top: -40px;
  margin-left: 158px;
  font-weight: 600;
}
.cardano{
  display: flex;
  justify-content: space-between;
}
.button{
  background-color: #FFDB24;
  color: #363636;
  border-radius: 20px;
  font-size: 14px;
  padding: 15px;
  margin-top: 19px;
}
.timer{
  padding-left: 180px;
  margin-right: -90px;
  padding-bottom: 30px;
}
.division3{
  padding: 20px;
  border-radius: 10px; /* Add rounded corners */
  color: white; /* Text color for paragraphs */
  background-color: #1d2022;
}
.gen{
  margin-left: 30%;
  gap: 4px;
}
.button2{
  background-color: #18191B;
  padding: 14px;
  color: #ffff;
  border-radius: 23px;
}